#p{
    color: brown;
    font-size:xx-large ;
    text-align: center;
}
.g{
    border-radius: 8px;
    display:block;
    margin-left: 150%;
    width: 30%;
}
#p1{
    border-radius: 8px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    
}
button{
    border: 5px;
    border-radius: 8px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}
a{
    display: inline-block;

}
video{
    width: 1000px;
    height:500px
}
header{
    background-color: rgb(214, 196, 174);
}
body{
    background-color: rgb(237, 228, 248);
}